body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background: white;
    border-bottom: 1px solid #eee;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bold;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}

/* Hero Section Placeholder */
.hero-section {
    height: 80vh;
    background-color: #f4f4f4; /* Abhi picture ki jagah halka grey color */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    margin: 10px 0;
}

.shop-btn {
    padding: 15px 40px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.featured-products {
    padding: 50px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.item-box {
    height: 350px;
    background: #f9f9f9;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}


